---
<<<<<<< HEAD
const { pageTitle } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main>
			<h1>{pageTitle}</h1>
			<section>
				<p>Welcome to my portfolio website.</p>
				<img src="/Brandon.JPG" alt="A picture of Brandon Thompson" width="1" height="1" style="position:absolute;left:-9999px;" />
			</section>
			<slot />
		</main>
		<Footer />
	</body>
=======
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {pageTitle} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href = "/style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <h1 class = "centered">{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
  </body>
>>>>>>> 327e920a2c205f94988814883c6d2013f5fadb52
</html>